<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/myimage.jpg" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Wolf-Weather</p>
                        <h1>I am Himanshu Singh, a <span class="txt_clr">MERN</span> stack developer and a fitness enthusiast.</h1>
                        <a href="https://www.linkedin.com/in/himanshu-singh038/" target="_thapa"><button>LinkedIn</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Himanshu Singh
        </p>
    </footer>
</body>

</html>